.about-cover {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.about-padding {
  padding: 1.375em;
}

@media screen and (min-width: 1100px) {
  .about-padding {
    padding: 0;
    margin-bottom: 40px;
  }
}

.about-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  div {
    -webkit-box-flex: 1;
    flex: 1;
    font-weight: lighter;
    line-height: 1.5;
    text-align: justify;
    b {
      font-weight: bold;
    }
    p {
      margin-bottom: 12px;
    }
    iframe {
      width: 100%;
      height: 400px;
    }
    a {
      display: block;
      color: $orange;
      font-weight: normal;
    }
    b {
      color: $orange;
    }
    &:first-child {
      margin-bottom: 1.375em;
    }
  }
}

@media screen and (min-width: 760px) {
  .about-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 1.25em 0;
  }
}

@media screen and (min-width: 760px) {
  .about-grid div:first-child {
    padding-right: 1.375em;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 760px) {
  .about-grid div:last-child {
    padding-left: 1.375em;
  }
}

.about-featured {
  padding: 3.75em 22px;
  margin-bottom: 60px;
  border-top: 2px solid $orange;
  border-bottom: 2px solid $orange;
  background-color: #eee;
  position: relative;
  .triangle-top, .triangle-bottom {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: $orange;
  }
  .triangle-top:after {
    content: '';
    position: absolute;
    margin-left: -38px;
    margin-top: -42px;
    display: block;
    width: 0;
    height: 0;
    border: 38px solid transparent;
    border-top-color: #fff;
  }
  .triangle-bottom {
    &:after {
      content: '';
      position: absolute;
      margin-left: -38px;
      margin-top: -42px;
      display: block;
      width: 0;
      height: 0;
      border: 38px solid transparent;
      border-top-color: #fff;
      content: '';
      position: absolute;
      margin-left: -38px;
      margin-top: -42px;
      display: block;
      width: 0;
      height: 0;
      border: 38px solid transparent;
      border-top-color: #eee;
    }
    bottom: -80px;
    top: auto;
  }
  img {
    width: 100%;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  ul {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.375em;
    li {
      width: 100%;
      line-height: 2;
      &:before {
        content: '●';
        color: $orange;
        padding-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .about-featured ul li {
    width: 50%;
  }
}

.work-with-us {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  padding: 40px;
  h1 {
    font-weight: bold;
    font-size: 1.875em;
  }
  p {
    line-height: 1.3;
    font-size: 14px;
  }
  .tech-btn {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1080px) {
  .work-with-us .about-grid div {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 1080px) {
  .work-with-us .about-grid div:first-child {
    width: 60%;
  }
}
