.cart-button-wrapper {
  position: fixed;
  top: 54px;
  right: 0;
  width: 100%;
  margin-top: 24px;
  padding: 0 1rem;
  z-index: 999;
  @media screen and (min-width: 1080px) {
    padding: 0;
  }
  .container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }
}

.cart-button {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:before {
    content: attr(data-amount);
    display: block;
    font-size: 10px;
    width: 23px;
    height: 23px;
    background: $purple;
    position: absolute;
    top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    right: -7px;
    border-radius: 100%;
  }
  svg {
    fill: white;
    width: 18px;
    height: 18px;
    margin-left: -3px;
  }
}