.fixed-slider {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  .slick-list, .slick-track {
    height: 100%;
  }
  .slider-item {
    width: 100%;
    height: 100%;
    .darker-filter {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }
  }
  .slider-content {
    width: 100%;
    heigh: 100%;
    padding: 60px;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 5%;
  }
  .slider-title {
    color: #fff;
    font-family: $secundary-font;
    font-weight: bold;
    font-size: 167%;
    max-width: 375px;
    line-height: 1.2;
  }
  .slider-line {
    width: 100%;
    height: 3px;
    border: 0;
    background-color: $orange;
    max-width: 300px;
    margin: 12px 0;
  }
}

@media screen and (min-width: 760px) {
  .fixed-slider .slider-content {
    justify-content: flex-start;
    padding: 150px 5%;
  }
}

@media screen and (min-width: 1080px) {
  .fixed-slider .slider-content {
    padding: 150px 0;
  }
}

@media screen and (min-width: 760px) {
  .fixed-slider .slider-title {
    font-size: 210%;
  }
}