.background-login {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(80%);
  }
}

.login-button {
  background: #FF934D;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  margin-left: auto;
  margin-right: 0;
  @media screen and (min-width: 960px) {
    margin: 0 0 0 1rem;
  }
  svg {
    width: 22px;
    height: 22px;
    fill: white;
  }
}

.login-button--active {
  background: none;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}

.login-wrapper {
  display: flex;
  padding: 24px;
  justify-content: center;
  flex-direction: column;
  .login-logo {
    margin: 24px auto ;
    max-width: 350px;
    img {
      width: 100%;
    }
  }
  .login-form {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    h1 {
      display: block;
      background: #06142B;
      color: white;
      line-height: 44px;
      text-align: center;
      width: 100%;
      @media screen and (min-width: 960px) {
        font-size: 14px;
      }
    }
    form {
      padding: 24px 24px 0 24px;
      width: 100%;
      text-align: center;
      label {
        font-size: 12px;
        margin-bottom: 8px;
        display: block;
        text-align: left;
      }
      .error {
        font-size: 12px;
        color: #e74c3c;
        margin: 8px 0;
        padding-left: 0;
      }
      input {
        height: 37px;
        padding-left: 12px;
        display: block;
        width: 100%;
        border: 0;
        background: white;
        font-size: 14px;
        appearance: none;
        font-weight: lighter;
      }
      button {
        line-height: 37px;
        border: 0;
        display: block;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 14px;
        padding: 0;
        max-width: 250px;
        outline: 0;
      }
      a {
        text-transform: uppercase;
        margin-top: 12px;
        font-size: 12px;
        display: block;
        justify-content: center;
        @media screen and (min-width: 960px) {
          font-size: 10px;
          margin: 18px 0 10px 0;
        }
      }
    }
    hr {
      width: calc(100% - 48px);
      background: #CECECE;
      height: 1px;
      border: 0;
      margin: 12px auto;
    }
    div {
      width: 100%;
      padding: 0 24px;
      margin: 14px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a { 
        font-size: 14px;
        &:first-child {
          color: $orange;
          font-weight: bold;
          display: flex;
          align-items: center;
          svg {
            fill: $orange;
            width: 10px;
            margin-right: 8px;
            height: 10px;
          }
        }
        &:last-child {
          background: #CECECE;
          padding: 12px;
          color: white;
        }
      }
    }
  }
}