.tech-content {
  ul {
    li {
      background: #eee;
      border: 1px solid #ccc;
      padding: 5px 10px;
      margin-bottom: 12px;
    }
  }
}


.tech-cover {
  width: 100%;
  height: 250px;
  margin: 5em 0 1.375em;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
  .page-banner {
    height: 100% !important;
  }
}
.tech-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .tech-cover img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.tech-cover .caption {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.tech-cover .caption h2 {
  color: $orange;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 6px;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
@media screen and (min-width: 768px) {
  .tech-cover .caption h2 {
    font-size: 36px;
  }
}
.tech-cover .caption a {
  background-color: #606060;
  color: #fff;
  line-height: 40px;
  padding: 0 24px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .tech-cover .caption a {
    margin-bottom: 0;
  }
}
.back {
  display: -webkit-box;
  display: flex;
  color: $orange;
  font-weight: bold;
  line-height: 37px;
  -webkit-box-align: center;
  align-items: center;
}
.back svg {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  fill: $orange;
}
.filters {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  justify-content: space-around;
  max-width: 1080px;
  margin: auto;
}
@media screen and (min-width: 700px) {
  .filters {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1110px) {
  .filters {
    padding: 24px 0;
  }
}
.filters .btn-group {
  width: 100%;
  margin-top: 14px;
  -webkit-box-ordinal-group: 4;
  order: 3;
}
@media screen and (min-width: 700px) {
  .filters .btn-group {
    -webkit-box-ordinal-group: 3;
    order: 2;
    width: 250px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0;
  }
}
.filters .btn-group button,
.filters .btn-group a {
  border: 0;
  line-height: 37px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 49%;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .filters .btn-group button,
  .filters .btn-group a {
    width: 48%;
  }
}
.filters label {
  height: 37px;
}
@media screen and (min-width: 700px) {
  .filters label {
    width: calc(100% - 260px);
  }
}
.filters label input {
  background-color: #fff;
  border: 1px solid rgba(51,51,51,0.4);
  width: 100%;
  padding-left: 12px;
  height: 100%;
  font-size: 14px;
  outline: 0;
}
.filters label input:focus {
  border: 1px solid $orange;
}
.filters .search {
  position: relative;
}
.filters .search svg {
  width: 26px;
  height: 26px;
  fill: $orange;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -13px;
}
.filters .dropdowns {
  width: 100%;
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin-top: 14px;
}
@media screen and (min-width: 700px) {
  .filters .dropdowns {
    -webkit-box-ordinal-group: 4;
    order: 3;
    display: -webkit-box;
    display: flex;
    margin-top: 8px;
  }
}
.filters .dropdowns label {
  width: 100%;
  height: 37px;
  border: 1px solid rgba(51,51,51,0.4);
  margin-bottom: 12px;
  position: relative;
  display: block;
}
@media screen and (min-width: 700px) {
  .filters .dropdowns label {
    -webkit-box-flex: 1;
    flex: 1;
    border-right: 0;
  }
}
.filters .dropdowns label:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 700px) {
  .filters .dropdowns label:last-child {
    border-right: 1px solid rgba(51,51,51,0.4);
  }
}
.filters .dropdowns label select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  height: 100%;
  background: none;
  padding: 0 16px;
  font-size: 14px;
  outline: 0;
  z-index: 2;
  position: relative;
}
.filters .dropdowns label select:focus {
  border: 1px solid $orange;
}
.filters .dropdowns label svg {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 50%;
  margin-top: -8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
}
.results-wrapper {
  width: 100%;
  padding: 0 22px 22px 22px;
  overflow: hidden;
  margin: auto;
}
.results {
  overflow: auto;
  width: 100%;
}
.results table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b6bbbf;
}
@media screen and (min-width: 768px) {
  .results table {
    border: 0;
  }
}
.results table th {
  line-height: 1.5;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 6px 1rem;
  font-weight: bold;
}
.results table tr {
  border-bottom: 1px solid #b6bbbf;
}
@media screen and (min-width: 768px) {
  .results table tr {
    border-bottom-color: rgba(182,187,191,0.2);
  }
}
.results table tr td {
  padding: 0 1rem;
  line-height: 44px;
  white-space: nowrap;
  font-size: 14px;
}
.results table tr td a:hover {
  text-decoration: underline;
}
.tech-list {
  margin: 2.75em 0;
}
.tech-list li {
  background-color: #d6d6d6;
  width: 100%;
  height: auto;
  line-height: 40px;
  padding-left: 0.75em;
  margin-bottom: 0.75em;
}
@media screen and (min-width: 480px) {
  .tech-list li {
    height: 40px;
  }
}
@media screen and (min-width: 760px) {
  .tech-title {
    max-width: 40%;
  }
}
@media screen and (min-width: 760px) {
  .tech-title-center .single-product-title {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-top: 25%;
  }
}
.tech-btn {
  margin-top: 1.375em;
  display: inline-block !important;
  background-color: $orange;
  color: white !important;
  padding: 0.5em 0.75em;
  font-family: $secundary-font;
}

.tech-line {
  width: 100%;
  height: 3px;
  border: 0;
  max-width: 100px;
  margin: 0;
  margin-top: 0.875em;
  background-color: $orange;
}
.parts-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 22px 22px 75px 22px;
  @media screen and (min-width: 768px){
    padding-bottom: 22px;
  }
}
.parts-list li {
  width: calc(49% - 5px);
  background: rgba(96,96,96,0.9);
  margin-bottom: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 600px) {
  .parts-list li {
    padding: 2.5em;
  }
}
@media screen and (min-width: 768px) {
  .parts-list li {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px;
  }
}
.parts-list li a {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .parts-list li {
    height: 100%;
  }
}
@media screen and (min-width: 760px) {
  .parts-list li {
    width: calc(20% - 10px);
    height: 100px;
    margin-bottom: 10px;
    padding: 0;
    transition: all 100ms ease;
  }
  .parts-list li:hover {
    background: $orange;
  }
  .parts-list li:hover span {
    color: #fff;
  }
  .parts-list li:hover svg {
    fill: #fff;
  }
}
.parts-list li img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.parts-list li svg {
  width: 35px;
  height: 35px;
  margin-bottom: 16px;
  fill: rgba(255,255,255,0.7);
}
.parts-list li span {
  font-weight: bold;
  line-height: 1.3;
  font-size: 12px;
  display: block;
  max-width: 70%;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255,255,255,0.7);
}
@media screen and (min-width: 600px) {
  .parts-list li span {
    font-size: 12px;
    max-width: 100%;
  }
}
.onsale-slider {
  width: 100%;
  margin: auto;
  height: 250px;
  z-index: 1;
}
.onsale-slider .slider-item {
  height: 100%;
  width: 100%;
}
.onsale-slider .slider-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-list {
  margin-top: 44px;
}
.product {
  padding: 24px;
  margin: 0 auto 24px;
}
@media screen and (min-width: 600px) {
  .product {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 960px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 24px 0;
  }
  .product:nth-child(even) .product-slider {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
  .product:nth-child(even) .product-description {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
.product .product-slider {
  height: 250px;
  padding: 12px;
  margin-bottom: 16px;
}
@media screen and (min-width: 600px) {
  .product .product-slider {
    width: 50%;
    height: 100%;
    max-height: 350px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }
}
.product .product-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
}
.product .product-description {
  font-weight: normal;
}
@media screen and (min-width: 600px) {
  .product .product-description {
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 16px;
    max-width: 450px;
  }
}
.product .product-description .name,
.product .product-description .price {
  line-height: 44px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 12px;
}
.product .product-description .name {
  background: #ebe9e6;
}
.product .product-description .price {
  background: #06142b;
  color: #fff;
  line-height: 1.3;
  padding: 8px;
  font-size: 14px;
}
.product .product-description p {
  font-size: 16px;
  padding: 12px;
  line-height: 1.5;
}
.product .product-description .logo {
  width: 100%;
  padding: 0 12px;
  height: 60px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left center;
  object-position: left center;
}
.pagination {
  display: -webkit-box;
  display: flex;
  margin: 22px 0;
  -webkit-box-pack: center;
  justify-content: center;
}
.pagination li {
  line-height: 44px;
  font-weight: bold;
  width: 44px;
  text-align: center;
  color: #606060;
}
.pagination .active {
  color: $orange;
}
.price-group {
  display: -webkit-box;
  display: flex;
}
.price-group .price {
  -webkit-box-flex: 1;
  flex: 1;
}
.price-group .price:last-child {
  background: $orange;
}
.single-product-result .product {
  border: 0;
}
@media screen and (min-width: 760px) {
  .single-product-result {
    padding: 0 22px;
  }
  .single-product-result .product {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .single-product-result {
    padding: 0;
    margin-bottom: 44px;
  }
}


.badge {
  background: $orange;
  color: white;
  padding: 3px 1rem;
  border-radius: 3px;
}


.product-description {
  .tech-btn {
    border: 0;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 27px;
    font-weight: lighter;
    padding-left: 24px;
    padding-right: 24px;
    text-transform: uppercase;
    cursor: pointer;
  }
}