.single-product-banner {
  width: 100%;
  height: auto;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .single-product-banner {
    height: 500px;
  }
}
.single-product-banner .featured-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.single-product-banner .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 2.5em 1.375em;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.single-product-banner .price {
  color: #fff;
  background-color: #101629;
  max-width: 200px;
  text-align: center;
  padding: 0.75em;
  line-height: 1.5;
  position: relative;
  align-self: flex-end;
  font-weight: bold;
}
.single-product-banner .price:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6px;
  left: 0;
  border-bottom: 3px solid #101629;
}
.single-product-banner .price span {
  display: block;
  font-weight: normal;
}
.single-product-banner .name {
  max-width: 300px;
}
.single-product-banner .name img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 1.375em;
  display: block;
}
.single-product-banner .name div {
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  color: #fff;
  padding: 0.75em;
  line-height: 1.5;
}
.single-product-banner .name div h1 {
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .single-product-banner .name div h1,
  .single-product-banner .name div h2 {
    font-size: 120%;
  }
}
.single-product-banner .name div h2 span {
  font-size: 14px;
  display: block;
}
.single-product-banner .name hr {
  width: 100%;
  height: 3px;
  border: 0;
  background-color: $orange;
}
.single-product-banner .options {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 1.375em;
}
.single-product-banner .options a {
  background-color: #369;
  color: #fff;
  padding: 1em 1.375em;
  margin: 0 0.75em;
  font-size: 0.875em;
  font-weight: normal;
}
.single-product-category {
  padding: 0.75em;
  margin: 0.75em 0;
  background-color: #d6d6d6;
  font-weight: bold;
}
.single-product-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  list-style: none;
}
.single-product-nav a {
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 760px) {
  .single-product-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .single-product-nav li {
    -webkit-box-flex: 1;
    flex: 1;
    height: 125px;
    font-size: 1.125em;
  }
  .single-product-nav li span {
    line-height: 1.5;
  }
}
.single-product-nav li {
  position: relative;
  padding: 1.375em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0.75em;
  cursor: pointer;
}
.single-product-nav li:hover .back-img:after {
  background-color: rgba(240,128,44,0.3);
}
.single-product-nav li .back-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.single-product-nav li .back-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  transition: background 250ms ease;
}
.single-product-nav li .back-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.single-product-nav li span {
  color: #fff;
  max-width: 180px;
  padding-left: 0.75em;
  border-left: 2px solid $orange;
}
.fixed-single-product-nav {
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0;
}
.single-product-nav--active .back-img:after {
  background-color: rgba(240,128,44,0.3) !important;
}
.single-product-title {
  font-weight: normal;
}
.single-product-title h2 {
  font-size: 135%;
  line-height: 1.5;
  color: $orange;
}
.single-product-title h2 span {
  display: block;
}
.single-product-title p {
  margin-top: 1.375em;
  font-weight: ligther;
}
.single-product {
  padding: 1.375em;
  border-bottom: 3px solid #d6d6d6;
}
.single-product:last-child {
  border-bottom: 0;
}
.single-product .single-product-content {
  margin: 1.375em 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 760px) {
  .single-product .single-product-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .single-product .single-product-content div:first-child {
    flex: 1;
    
  }
  .ml-75 {
    margin-left: 75px !important;
  }
}

@media screen and (min-width: 1200px) {
  .single-product .single-product-content div:last-child {
    margin-left: 0;
  }
}
.single-product .single-product-content .title {
  display: block;
  padding: 0 0.75em;
  background-color: #e8e8e8;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 0.75em;
}
.single-product .single-product-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 22px;
}
@media screen and (min-width: 760px) {
  .single-product .single-product-content img {
    margin: 0;
    max-width: 350px;
  }
}
.single-product .single-product-content table {
  margin-top: 12px;
  width: 100% !important;
}
.single-product .single-product-content table thead {
  background: #e8e8e8;
  padding: 12px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e8e8e8;
}
.single-product .single-product-content table tbody {
  font-size: 14px;
}
.single-product .single-product-content table tbody td {
  padding: 0 12px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
}
.gallery-title {
  padding: 1.375em;
  background-color: #e8e8e8;
}
.gallery-images {
  width: 100%;
}
.gallery-images a {
  display: block;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 760px) {
  .gallery-images a {
    height: 600px;
  }
}
.gallery-images a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}