.product-wrapper {
  padding: 1.375em;
  .product-category {
    background-color: #d6d6d6;
    padding: 0.75em;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.375em;
  }
}

.product-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 44px;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .product-item {
        margin-bottom: 0 !important;
      }
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      .product-item {
        width: 100% !important;
      }
    }
    @media screen and (min-width: 960px) {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 !important;
    }
  }
  .product-item {
    width: 100%;
    height: auto;
    background-color: #eee;
    margin-bottom: 1.375em;
    border-left: 1px solid #afafaf;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
    .product-image {
      width: 100%;
      height: 200px;
      display: block;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .product-info {
      padding: 1.375em;
      .product-name, .product-details {
        font-weight: bold;
      }
      .product-features li {
        line-height: 1.5;
      }
      .product-details {
        color: #f0802c;
        margin-top: 0.75em;
        display: block;
      }
      hr {
        width: 100%;
        height: 1px;
        border: 0;
        background-color: #f0802c;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .product-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 960px) {
  .product-grid {
    padding: 0 2%;
  }
}

@media screen and (min-width: 760px) {
  .product-grid .product-item {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .product-grid .product-item {
    width: 33.333333333333336%;
  }
}