.navbar {
  border-width: 0;

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: $navbar-inverse-bg;
    }
  }

  &-brand {
    line-height: 1;
  }
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    > th > a,
    > td > a,
    > a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid $table-border-color;
  }
}

// Forms ======================================================================

.form-control,
input {
  border-width: 1px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: $pagination-disabled-bg;
    }
  }
}

// Indicators =================================================================

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

.alert {

  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

.progress {
  height: 10px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  @include box-shadow(none);
}

a.list-group-item {

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $list-group-border;
  }

  &-success {
    &.active {
      background-color: $state-success-bg;
    }

    &.active:hover,
    &.active:focus {
      background-color: darken($state-success-bg, 5%);
    }
  }

  &-warning {
    &.active {
      background-color: $state-warning-bg;
    }
    
    &.active:hover,
    &.active:focus {
      background-color: darken($state-warning-bg, 5%);
    }
  }

  &-danger {
    &.active {
      background-color: $state-danger-bg;
    }
    
    &.active:hover,
    &.active:focus {
      background-color: darken($state-danger-bg, 5%);
    }
  }
}

.panel {
  &-default {
    .close {
      color: $text-color;
    }
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

.popover {
  color: $text-color;
}



@mixin ripple($color){
    position: relative;
  
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include gradient-radial($color 10%, transparent 10.01%);
      background-size: 1000% 1000%;
      background-position: 50%;
      opacity: 0;
      pointer-events: none;
      transition: background .5s, opacity 1s;
    }
  
    &:active:after {
      background-size: 0% 0%;
      opacity: .2;
      transition: 0s;
    }
  }

@mixin btn($class,$bg,$color){
    .btn-#{$class} {
      &:focus {
        background-color: $bg;
      }
  
      &:hover,
      &:active:hover {
        background-color: darken($bg, 6%);
      }
  
      &:active {
        @include box-shadow(2px 2px 4px rgba(0,0,0,.4));
      }
  
      @include ripple($color);
    }
  }
  
  @include btn(default,$btn-default-bg,$btn-default-color);
  @include btn(primary,$btn-primary-bg,$btn-primary-color);
  @include btn(success,$btn-success-bg,$btn-success-color);
  @include btn(info,$btn-info-bg,$btn-info-color);
  @include btn(warning,$btn-warning-bg,$btn-warning-color);
  @include btn(danger,$btn-danger-bg,$btn-danger-color);
  @include btn(link,#fff,$btn-default-color);
  
  .btn {
    border: none;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    @include transition(all 0.4s);
  
    &-link {
      border-radius: $btn-border-radius-base;
      @include box-shadow(none);
      color: $btn-default-color;
  
      &:hover,
      &:focus {
        @include box-shadow(none);
        color: $btn-default-color;
        text-decoration: none;
      }
  
      .disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:active:hover {
          background-color: #fff;
          color: $btn-default-color;
        }
      }
    }
  
    &-default {
      &.disabled,
      &[disabled],
      fieldset[disabled] & {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4);
        opacity: 1;
  
        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  
  .btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
      margin-left: 0;
    }
  
    &-vertical {
      > .btn + .btn,
      > .btn + .btn-group,
      > .btn-group + .btn,
      > .btn-group + .btn-group {
        margin-top: 0;
      }
    }
  }

button {
  &:focus {
    outline: 0;
  }
}

.btn-default {
    color: #444444;
    background-color: #ffffff;
    border-color: transparent;
}

.btn-no-shadow {
  box-shadow: none;
}

.card {
  border: 0;
}

.table {
  background: white;
  border: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}

.input-group-btn {
  button {
    height: 100%;
  }
}

.btn-no-border {
  border: 0 !important;
}

.btn-shadow {
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.dropzone {
  border: 1px solid #c2cfd6;
  border-radius: $border-radius-base;
  .dz-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.badge {
  padding: 0.3rem;
  display: inline-flex;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.switch {
  margin-bottom: 0;
}

.trumbowyg-box {
  margin: 0;
  border-radius: $border-radius-base;
}

.seo-preview {
  border: 1px solid #c2cfd6;
  border-radius: $border-radius-base;
  padding: 22px 1rem;
  div {
    //border-left: 1px solid #d3e1f9;
    //padding-left: 16px;
    max-width: 600px;
  }
  img {
    max-width: 124px;
    margin-bottom: 8px;
  }
  h3 {
    cursor: pointer;
    color: #1a0dab;
    font-size: 18px;
    font-weight: 400;
    font-family: arial,sans-serif;
    line-height: 1.2;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    color: #006621;
    font-weight: normal;
    font-size: 14px;
  }
  p {
    line-height: 1.4;
    word-wrap: break-word;
    color: #545454;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    font-family: arial,sans-serif;
  }
}

.img-avatar {
  margin: 0 5px 0 0 !important;
  height: 30px !important;
}

.img-thumbnail {
  max-width: 200px;
  margin-bottom: 12px;
}

input[type="color"] {
  padding: 0;
  border: 0;
  background: none;
  max-width: 100px;
  cursor: pointer;
  border-radius: 3px;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 3px;
    border: 1px solid #c2cfd6;
  }
  &::-webkit-color-swatch {
    border: 0;
    //border-radius: 3px;
  }
}

.trumbowyg-editor {
  table {
    margin-bottom: 6px;
    td {
      border: 1px solid black;
      min-width: 10px;
      padding: 6px;
    }
  }
}

.car-preview {
  max-width: 350px;
}

.login {
  img {
    width: 100%;
  }
}

.dropdown-toggle {
  background: #4dbd74;
  color: white;
}

.invalid-feedback {
  display: block;
  &:empty {
    display: none;
  }
}

.has-error {
  .trumbowyg-box {
    border-color: $red;
    overflow: hidden;
  }
}

.filemanager {
  .navbar-inner {
    width: 100%;
  }
  .breadcrumb {
    background: white !important;
  }
  .grupo2 {
    display: none !important;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .row_header {
    border-radius: 3px 3px 0 0;
  }
  .col-md-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .item {
    //border-radius: 3px;
    overflow: hidden;
  }
  .name {
    background: white !important;
  }
  #search {
    margin: 0;
  }
  .content_icon {
    color: #29363d;
    span {
      font-size: 60px !important;
    }
  }
  .tooolbar {
    margin-bottom: 8px;
    > div {
      &:nth-child(2) {
        display: none !important
      }
    }
    > div {
      padding: 0;
    }
  }
}

.modal-backdrop {
  z-index: 999;
}