<template>
    <div class="fixed-slider" ref="fixedslider">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        mounted() {
            $(this.$refs.fixedslider).slick({
                arrows: false
            });
        }
    }
</script>
