<template>
    <div id="product-banner" class="page-banner" ref="slider">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        mounted() {
            $(this.$refs.slider).slick({
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
            });
        }
    }
</script>
