<template>
  <form :action="route" method="POST" class="d-inline-block" @submit.prevent="submit">
      <input type="hidden" name="_token" :value="token">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Borrar</button>
  </form>
</template>

<script>
  export default {
    props: ['route', 'token'],
    methods: {
      submit(event) {
        return confirm("Estas seguro que deseas eliminar esto?") ? event.target.submit() : null;
      }
    }
  }
</script>
