<template>  
    <div class="dropzone" ref="dropzone"></div>
</template>


<script>
    export default {
        props: ['images', 'name', 'id', 'url'],
        data() {
            return {
                dropzone: '',
                options: {
                    url: this.url,
                    addRemoveLinks: true,
                    uploadMultiple: true,
                    dictRemoveFile: 'Eliminar imagen',
                    dictDefaultMessage: "Arrastra los archivos aquí para subirlos",
                    headers: {
                        'X-CSRF-TOKEN': window.Laravel.csrfToken,
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    params: {
                        model: this.name,
                        id: this.id
                    }
                }
            }
        },
        mounted() {
            this.dropzone = new Dropzone(this.$refs.dropzone, this.options);
            this.dropzone.on('removedfile', file => {
                axios({ method: 'delete', url: '/admin/resources/' + file.id});
            });
            this.images.forEach(function(image) {
                let img = {
                    name: image.url,
                    id: image.id,
                    size: image.size
                }
                this.dropzone.emit("addedfile", img);
                this.dropzone.emit("thumbnail", img, img.name);                        
                this.dropzone.emit("complete", img);   
            }, this);
        }
    }
</script>


