<template>
  <div>
    <img :src="preview" v-show="preview" class="image-preview btn-shadow">
    <input type="file" class="form-control-file form-control" :id="name" :accept="accepted" :name="name" @change="change" :class="{ 'is-invalid' : error}">
  </div>
</template>
`
<script>
export default {
  props: ['name', 'accepted', 'image', 'error'],
  data() {
    return  {
      preview: '',
      reader: new FileReader()
    }
  },
  mounted() {
    this.preview = this.image;
    this.reader.onload = () => {
      this.preview = this.reader.result;
    }
  },
  methods: {
    change(event) {
      this.reader.readAsDataURL(event.target.files[0]);
    }
  }
}
</script>


<style lang="scss" scoped>
  .image-preview {
    max-width: 250px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-bottom: 14px;
    overflow: hidden;
    padding: 12px;
  }
</style>
