@import 'vendor/reset';
@import 'vendor/slick';
@import 'vendor/tippy';
@import 'fonts';
@import 'variables';

/* Resets */

body {
  font-family: $primary-font;
  margin-bottom: 39px;
  font-weight: lighter;
}

button {
  appearance: none;
  border-radius: 0;
}

svg#svg {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  margin-top: 60px;
}

/* Header styles */

.header {
  background-color: $orange;
  width: 100%;
  height: 60px;
  padding: 0 0 0 1.375em;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    img {
      width: 100%;
      height: 100%;
    }
    &:first-child {
      width: 150px;
    }
    &:last-child {
      display: none;
    }
  }
  .header-responsive-icon {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    order: 3;
    svg {
      width: 32px;
      height: 32px;
      fill: #fff;
    }
  }
  .header-responsive-icon--active {
    background-color: #fff;
    svg {
      fill: $orange;
    }
  }
  .header-nav {
    list-style: none;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 9999;
    li {
      width: 100%;
      height: auto;
      line-height: 40px;
      font-size: 70%;
      color: #333;
      padding: 0 1.375em;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    padding: 0 1.375em;
  }
}

@media screen and (min-width: 960px) {
  .header .container {
    height: 100%;
  }
}

@media screen and (min-width: 960px) {
  .header .header-logo {
    height: 100%;
    display: -webkit-box;
    display: flex;
    width: 150px;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 960px) {
  .header .header-logo img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 960px) {
  .header .header-logo:first-child {
    width: 203px;
  }
}

@media screen and (min-width: 960px) {
  .header .header-logo:last-child {
    display: -webkit-box;
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 960px) {
  .header .header-responsive-icon {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .header .header-nav {
    display: -webkit-box;
    display: flex !important;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    background: none;
    width: auto;
    top: 0;
    margin-left: auto;
    padding: 0 1.375em;
  }
}

@media screen and (min-width: 1100px) {
  .header .header-nav {
    padding: 0;
  }
}

@media screen and (min-width: 960px) {
  .header .header-nav li {
    color: #fff;
    width: auto;
  }
}

.footer {
  background-color: $purple;
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 0.875em;
  padding: 0.75em;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  .copyright b {
    font-weight: bold;
  }
  .footer-icons {
    margin-top: 1.375em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    li {
      width: 18px;
      height: 18px;
      margin: 0 0.5em;
      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .footer .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 760px) {
  .footer .footer-icons {
    margin-top: 0;
  }
}

.page-banner {
  width: 100%;
  height: 200px;
  position: relative;
  .slick-list, .slick-track {
    height: 100%;
  }
  .banner-item {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .page-banner-back {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(80%);
  }
  .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding: 0 1.375em;
  }
  .page-banner-logo {
    width: 90px;
    height: 90px;
    position: relative;
    margin-bottom: 1.375em;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .page-banner-content {
    color: #fff;
    font-weight: bold;
    h1 {
      background-color: rgba(255, 255, 255, 0.3);
      display: block;
      padding: 0.75em;
    }
    hr {
      width: 100%;
      height: 2px;
      border: 0;
      margin: 4px 0;
      background-color: $orange;
    }
  }
}

@media screen and (min-width: 960px) {
  .page-banner {
    height: 350px;
  }
}

/* Modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 1.375em;
  display: none;
}

.modal {
  background-color: #fff;
  padding: 1.375em;
  overflow: auto;
  height: 100%;
  opacity: 0;
  margin: 0 auto;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  visibility: hidden;
  max-width: 800px;
  position: relative;
  h1 {
    font-weight: bold;
    border-bottom: 1px solid $orange;
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
  }
  .close-modal {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    svg {
      width: 15px;
      height: 15px;
      fill: #ccc;
    }
    &:hover svg {
      fill: #333;
    }
  }
  .modal-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  img {
    display: none;
  }
  form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    input, select, textarea {
      
      border: 1px solid rgba(222, 222, 222, 0.3);
      margin-bottom: 0.75em;
      padding-left: 0.75em;
    }
    input, select, button {
      width: 100%;
      height: 40px;
      outline: 0;
    }
    textarea {
      padding-top: 0.75em;
      resize: none;
      height: 75px;
      outline: 0;
    }
    button {
      background-color: $orange;
      border: 0;
      
      color: #fff;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 960px) {
  .modal {
    height: 517px;
  }
}

@media screen and (min-width: 960px) {
  .modal .modal-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    .modal-col {
      width: 50%;
      &:first-child {
        padding-right: 1.375em;
      }
      &:last-child {
        padding-left: 1.375em;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .modal img {
    display: block;
    width: 300px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.modal--active {
  opacity: 1;
  visibility: visible;
}

.single-product-title {
    h2 {
      font-size: 135%;
      line-height: 1.5;
      color: $orange;
      span {
        display: block;
      }
    }
    p {
      margin-top: 22px;
      font-weight: lighter;
    }
}

@media screen and (min-width: 960px) {
  .page-banner {
    height: 350px;
  }
}

@import 'pages/home';
@import 'pages/about';
@import 'pages/trucks';
@import 'pages/truck';
@import 'pages/tech';
@import 'pages/cart';
@import 'pages/login';