/* Fonts */
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham_regular-webfont.woff2") format('woff2'), url("../fonts/gotham_regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham_bold-webfont.woff2") format('woff2'), url("../fonts/gotham_bold-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-light.woff2") format('woff2'), url("../fonts/gotham-light.woff") format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima_nova_alt_extrabold.woff2") format('woff2'), url("../fonts/proxima_nova_alt_extrabold-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2") format('woff2'), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}